/* Footer */ 
#footer{
  width: 100%;
  padding: 5px;
	letter-spacing: .5rem;

  }
  .social-media-links{
	padding-top: 1rem;
    font-size: 1.9rem;
  }

  /* Social Media Links */
  .fa {
    text-align: center;
    text-decoration: none;
  }
   .fa:hover {
    opacity: 0.9;
    color: #000;
  }
   .fa-facebook, .fa-twitter,.fa-youtube,.fa-instagram {
    color: #000000;
  }